.App{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}
.App h1{
    color: #f1f1f1;
}

footer{
    color: #f1f1f1;
    font-size: 11px;
    margin-top: 10px;
}